@CHARSET "UTF-8";

input.bt_checkbox {
	margin: 0;
	padding: 0;
}

table#bt_title_wrapper {
	width: 240px;
}

table#bt_title_wrapper td {
	text-align: right;
}

div.checkbox_hour {
	display: inline;
}

.checkbox_hour div {
	display: inline;
}

div.title_hour {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

div.job_title small {
	color: #999;
}

div.odd {
	background: #D0EDF7;
	padding: 2px;
}

div.even {
	padding: 2px;
}

.bt_no_padding_margin {
	margin: 0 !important;
	padding: 0;
}

div#bt_notify_to_save {
	padding: 6px;
	display: none;
}

table#bt_activity_wrapper table td, table#bt_activity_wrapper table th {
	height: 27px;
	padding: 0;
}

table#bt_activity_wrapper table, table#bt_activity_wrapper table td, table#bt_activity_wrapper table th {
	margin: 0;
	padding: 0;
}

table.bt_checkbox, table.bt_title, table.bt_checkbox_title {
	padding: 0;
	margin: 0;
}

table.bt_title td {
	/* 24 pieces in a row */
	width: 4.16666%;
}

table#bt_activity_wrapper small {
	padding-right: 6px;
}

div#bt_scroller {
	width: 700px;
	overflow: auto;
	margin: 0;
	padding: 0;
}

span.bt_chart_updater.wait {
	width: 15px;
	height: 16px;
	background-image: url(../../../../misc/throbber.gif);
	display: block;
	float: right;
	margin:1px 0 0 6px;
}

span.bt_chart_updater.wait.occupied {
	background-position:0 20px;
}

input.form-checkbox {
	margin: 0 2px 0 2px;
}

.bt_title_highlight {
	background: #77B9CB !important;
}

#bt_chart_title {
	display: none;
}

a.bubbletimer_node_remove {
	background: url("images/delete.png") no-repeat;
	padding-left: 16px;
	padding-bottom: 1px;
	opacity: 0.2;
}

a.bubbletimer_node_remove:hover {
	opacity: 1;
}

a.bubbletimer_node_add {
	background: url("images/add.png") no-repeat;
	padding-left: 16px;
	padding-bottom: 1px;
	opacity: 0.2;
}

a.bubbletimer_node_add:hover {
	opacity: 1;
}
